beancount:
  filename: main.bean                     # The entrypoint for all transactions, and generated transaction will also append to this file
  currency: CNY
  account_distinguation_range: 3          # The range of accounts segments to distinguish itself
  # account_distinguation_range: [3,5]    # Support list (zero-indexed, closed interval) and int

bot:
  telegram:
    token: "{your_bot_token_here}"
    chat_id: 12345678                     # Your chat id
  mattermost:                             # See https://mmpy-bot.readthedocs.io/en/latest/plugins.html
    server_url: "{mattermost_server_url}"
    server_port: 443
    bot_token: "{mattermost_bot_token}"
    bot_team: "{bot_team}"
    ssl_verify: false
    webhook_host_port: 8308
    webhook_host_url: "{webhook_host}"
    owner_user: "{chat_owner}"

embedding:
  enable: true                            # Disable it if you care about privacy
  api_url: "https://api.siliconflow.cn/v1/embeddings"  # OpenAI compatible API endpoint
  api_key: "{your_key_here}"
  model: "BAAI/bge-large-zh-v1.5"
  db_store_folder: "."                    # The folder to store vector db (tx_db.json or tx_db.sqlite)
  transaction_amount: 1000                # Only fetch the latest 1000 dinstinct transactions when building vector DB
  candidates: 3                           # Select 3 entry and sort them with weight
  output_amount: 1                        # Output at most 1 candidates during vector match

rag:
  enable: false                           # Disable it if you care about privacy, disabled by default
  api_url: "https://api.deepseek.com/v1/chat/completions"  # OpenAI compatible API endpoint
  api_key: "{your_key_here}"
  model: "deepseek-chat"
